html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#map-canvas {
  height: 100%;
}

#inp{
  top:3%;
  left:6%;
  position: absolute;
  z-index: 10;
  width: 100%;
}

 #marker{  
    width: 200px;
    height: 15px;
    padding: 7px;  
    border: 1px solid #aaa;  
    border-radius: 2px;  
    box-shadow: inset 0 1px 7px rgba(0, 0, 0, 0.1);  
}  
      
#marker:focus {  
    outline: none;  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);  
}  

.ui-autocomplete {
  font-size: 15px;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 10px;
  margin: 2px 0 0 0;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item{
  display: block;
  padding: 3px 5px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item:hover, .ui-state-focus{
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}